* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
    background-color: azure;
}

h1 {
    color: green;
    margin-top: 20px;
}

h2 {
    color:rgb(52, 79, 231);
}

header {
    text-align: center;
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

a {
    text-decoration: none;
}

a:visited  {
    color: blue;
}

a:hover {
    color: green;
}

a:active {
    color: grey;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.list-title {
    text-align: center;
    margin-top: 6%;
    margin-bottom: 6%;
    color:darkgreen
}

.jedi {
    margin: 2% 40px;
    color:#2a2f19ea;
    list-style: circle;
}

nav {
    background-color: #c7ff74;
    height:50px;
    width: 100%;
    margin-bottom: 10px;
    position: fixed;
    top: 0;
    text-align: center;
    padding-top: 8px;
    box-sizing: border-box;
}

nav li {
    display: inline;
    list-style: none;
    font-size: 19px;
    margin-right: 20px;
}

main ul  {
    color: #7b4876;
}